/* TEAMMATE ONE EDITS THESE STYLES FOR YOUR TASKS */
.box-2 {
    align-content: center;
    justify-content: center;
    font-size: 30px;
    background-image: linear-gradient(to right, blue, yellow);
}

.box-2:hover{
    background-image: linear-gradient(to right, green, gray)
}